@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    box-sizing: border-box;
}
body{
    
    color:white ;
    font-family: 'Montserrat', serif;
    letter-spacing: 1.4px;
}

#bgvideo{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    object-fit: cover;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.nav-bar ul{
    display: flex;
    flex-direction: row;
    justify-content:right;
    list-style: none;
}
.nav-bar a{
    padding:18px;
    text-decoration: none;
    color:white;
    font-weight:bold;
}

a:active{
    background: #168AAD;
}
a:hover{
    padding:13px;
    color:#e2a310;
}

a:focus{
    padding:16px;
    background-color: black;
}

@media (max-width: 750px) {
    #background-video { display: none; }
    body {
      background: url("https://assets.codepen.io/6093409/river.jpg") no-repeat;
      background-size: cover;
    }
}


.signin-container{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-image: linear-gradient(.75turn, #292E49 5%, #354f52 100%);
    position: absolute;
    left:35%;
    width:410px;
    height:00px;
    border-radius:13px;
    margin-top: 60px;
}

.signin-container form{
    display:flex;
    flex-direction: column;
    padding:20px 50px;
}

.signin-container h1{
    text-align: center;
    margin-bottom: 30px;
}

form input{
    margin:15px 0px;
    padding:10px;
    outline: none;
    border:none;
    border-radius: 50px;
}

form input[type=text]{
    margin-top:15px;
}
input:focus{
    border: 2px solid transparent;
    box-shadow:0px 0px 19px 12px rgba(15,255,181,0.51);
}

input[type="submit"]{
    text-align: center;
    width: 200px;
    border:none;
    outline:none;
    background: black;
    margin-top: 30px;
    margin-left:47px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align: center;
    transition: all .4s ease-in-out;
    background-size: 300% 100%;
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

input[type="submit"]:hover{
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
}
